/* Made by Cameron Samuels | MIT LICENSE | git.io/fjcA6 */

@font-face {
  font-family: 'font';
  src: url(bureaugrot.otf) format('opentype');
}

:root {
  --purple: #3e2e91;
  --tan: #fbe38d;
  --red: #df524f;
}

kamala {
  display: inline-block;
  position: fixed;
  bottom: 5px;
  padding: 1vmin 1.6vmin;
  background: var(--purple);
  font-family: font, helvetica, arial, sans-serif;
  line-height: 1;
  white-space: pre;
}

kamala:before {
  content: "KAMALA\AHARRIS";
  display: inline;
  color: var(--tan);
  font-size: 3vmin;
  text-align: left;
}

harris:before {
  content: "FOR\A";
  display: inline;
  color: var(--red);
  font-size: 3vmin;
  text-align: left;
}

kamala:after {
  content: "THE";
  display: inline;
  color: var(--red);
  font-size: 2vmin;
  float: right;
}

harris:after {
  content: "PEOPLE";
  display: inline;
  color: var(--red);
  font-size: 3vmin;
  float: right;
}

kamala[color="tan"] {
  background: var(--tan);
}

kamala[color="tan"]:before {
  color: var(--purple);
}

kamala:not([align]) {
  left: 50%;
  transform: translateX(-50%);
}

kamala[align="left"] {
  left: 5px;
}

kamala[align="right"] {
  right: 5px;
}