@font-face {
  font-family: 'molot';
  src: url(molot.otf) format('opentype');
}

mfol {
  display: inline-block;
  position: fixed;
  bottom: 5px;
  width: 11vmin;
  padding: 1vmin;
  background: #f0f0f0;
  border: .6vmin #004386 solid;
  font-family: molot, helvetica, arial, sans-serif !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  text-align: left !important;
  letter-spacing: 0 !important;
  user-select: none;
}

mfol:before {
  content: "MARCH\a\aLIVES";
  display: block;
  color: #0f4886 !important;
  font-size: 3vmin !important;
  white-space: pre-wrap !important;
}

mfol:after {
  content: "FOR OUR";
  display: block;
  position: absolute;
  top: 3.9vmin;
  color: #2d2d2d !important;
  font-size: 3vmin !important;
  word-spacing: -1vmin !important;
}

mfol:not([align]) {
  left: 50%;
  transform: translateX(-50%);
}

mfol[align="left"] {
  left: 5px;
}

mfol[align="right"] {
  right: 5px;
}