html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background: #eee;
  color: #24292e;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


main:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50vmin;
  width: 85vmin;
  margin: auto;
  background: #eee;
  border: 2vmin #24292e solid;
  border-radius: 6px;
  z-index: 1;
}

/* Content */
main:first-of-type>div a {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 11vmin;
  color: #fff;
  border-bottom: 1.5vmin #24292e solid;
  border-right: 1.5vmin #24292e solid;
  font-size: 5vmin;
  font-weight: bold;
  line-height: 9.5vmin;
  text-align: center;
}

/* Content item-specific styles */
main:first-of-type>div>a:nth-of-type(1) {
  background: #08a0e9;
}
main:first-of-type>div>a:nth-of-type(2) {
  background: #fa8832;
  border-right: 0;
}
main:first-of-type>div>a:nth-of-type(3) {
  background: #d12d2c;
}
main:first-of-type>div>a:nth-of-type(4) {
  background: #9575cd;
  border-right: 0;
}
main:first-of-type>div>a:nth-of-type(5) {
  width: 100%;
  background: #010101;
  border-right: 0;
  font-size: 4vmin;
}

/* Profile picture */
main:first-of-type>img {
  position: absolute;
  bottom: -10vmin;
  left: -10vmin;
  width: 30vmin;
  height: 30vmin;
  border: 1.5vmin #24292e solid;
  border-radius: 17.5vmin;
}

/* Name */
main:first-of-type>h1 {
  position: absolute;
  bottom: 8vmin;
  left: 25vmin;
  margin: 0;
  font-size: 6.5vmin;
}

/* Tagline */
main:first-of-type>h2 {
  position: absolute;
  bottom: 5vmin;
  left: 26vmin;
  margin: 0;
  font-size: 2.5vmin;
  white-space: nowrap;
}

/* Affiliations */
main:first-of-type>p {
  position: absolute;
  left: 26vmin;
  bottom: 2vmin;
  margin: 0;
  font-size: 2vmin;
  font-weight: bold;
  white-space: nowrap;
}
main:first-of-type>p>span {
  margin: 0 5px;
  font-weight: bolder;
}

/* Dev website link */
main:first-of-type>footer {
  position: absolute;
  right: -1vmin;
  bottom: -5vmin;
  font-size: 2vmin;
  cursor: pointer;
}
main:first-of-type>footer:hover {
  text-decoration: underline;
}

@media all and (orientation: portrait) {
  main:first-of-type {
    zoom: 85%;
    height: 82vmin;
  }
  main:first-of-type>div>a {
    width: 100%;
    height: 13vmin;
    padding: 1vmin 0;
    border-right: 0;
    font-size: 6vmin;
  }
  main:first-of-type>footer {
    bottom: -6vmin;
    font-size: 3vmin;
  }
}


/* ==================== */
/* === SOFTWARE DEV === */
/* ==================== */

main:nth-of-type(2) {
  display: none;
  position: relative;
  border-left: 12px #24292e solid;
  border-right: 12px #24292e solid;
  z-index: 3;
}
body>div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;
  z-index: 2;
}
#dev:target, #dev:target + main {
  display: block;
}

main:nth-of-type(2)>header {
  margin: 0;
  padding: 5rem 0;
  background: linear-gradient(10deg, #24292e, #444) #24292e;
  background: -webkit-linear-gradient(80deg, #24292e, #444) #24292e;
  background: -o-linear-gradient(80deg, #24292e, #444) #24292e;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main:nth-of-type(2)>div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 20px;
  background: #fff;
}
main:nth-of-type(2)>div h1,
main:nth-of-type(2)>div h2 {
  display: inline-block;
  margin: 5px;
}
main:nth-of-type(2)>div p {
  display: inline-block;
  width: 70%;
  margin: 5px;
  text-align: justify;
  vertical-align: top;
}

main:nth-of-type(2)>div:nth-of-type(1)>img,
main:nth-of-type(2)>div:nth-of-type(4) img {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  margin: auto 0;
  max-width: calc(25% - 25px);
  max-height: 80%;
}

main:nth-of-type(2)>div:nth-of-type(2),
main:nth-of-type(2)>div:nth-of-type(11) {
  padding: 0;
  background: #24292e;
  color: #c8c9cb;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
main:nth-of-type(2)>div:nth-of-type(2) a,
main:nth-of-type(2)>div:nth-of-type(11) a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
main:nth-of-type(2)>div:nth-of-type(2) a img,
main:nth-of-type(2)>div:nth-of-type(11) a img {
  height: 38px;
  background: #c8c9cb;
  border: 2px #c8c9cb solid;
  border-radius: 38px;
  vertical-align: middle;
}
main:nth-of-type(2)>div:nth-of-type(2):hover,
main:nth-of-type(2)>div:nth-of-type(11):hover {
  color: #86898b;
}
main:nth-of-type(2)>div:nth-of-type(2):hover img,
main:nth-of-type(2)>div:nth-of-type(11):hover img {
  background: #86898b;
  border-color: #86898b;
}

main:nth-of-type(2)>div:nth-of-type(3) {
  border-bottom: 8px #24292e solid;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(3) h2 {
  display: block;
  margin-bottom: 12px;
}
main:nth-of-type(2)>div:nth-of-type(3) section {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}
main:nth-of-type(2)>div:nth-of-type(3) strong {
  display: block;
  width: 150px;
  margin: 5px 0 0;
  padding: 5px 0;
  background: #444;
  color: #eee;
  border: 1.5px #444 solid;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
main:nth-of-type(2)>div:nth-of-type(3) span {
  display: block;
  width: 150px;
  padding: 5px 0;
  border: 1.5px #444 solid;
  border-top-width: 0;
}

main:nth-of-type(2)>div:nth-of-type(4) {
  background: url(../images/fidget-bg.png);
  color: #f0f0f0;
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
  font-weight: bold;
}
main:nth-of-type(2)>div:nth-of-type(4) h2 {
  padding: 3px 8px;
  background: #987;
  border-radius: 50px;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(4) p {
  padding: 6px;
  background: #987;
  border-radius: 10px;
}
main:nth-of-type(2)>div:nth-of-type(4) img {
  top: 60px;
  -webkit-touch-callout: none;
}
main:nth-of-type(2)>div:nth-of-type(4) img:hover {
  animation: spin 2s infinite;
  -webkit-animation: spin 2s infinite;
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

main:nth-of-type(2)>div:nth-of-type(5) {
  padding: 0;
  background: #2196F3;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(5) a {
  display: block;
  width: 100%;
  padding: 28px 0;
}

main:nth-of-type(2)>div:nth-of-type(6) {
  background: url(../images/cube-bg.svg) center/110% no-repeat;
  color: #24292e;
  text-align: center;
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
}
main:nth-of-type(2)>div:nth-of-type(6) h2 {
  padding: 8px;
  background: #24292e;
  color: #f0f0f0;
  border-radius: 50px;
}
main:nth-of-type(2)>div:nth-of-type(6) p {
  margin: 0 0 10px;
  padding: 6px;
  background: #24292e;
  color: #f0f0f0;
  border-radius: 10px;
  font-weight: bold;
  text-align-last: center;
}
main:nth-of-type(2)>div:nth-of-type(6) a {
  display: inline-block;
  width: 120px;
  margin: 2px 0;
  padding: 15px;
  background: #24292e;
  color: #f0f0f0;
  border-radius: 12px;
}
main:nth-of-type(2)>div:nth-of-type(6) a:hover {
  -webkit-filter: brightness(115%);
}
main:nth-of-type(2)>div:nth-of-type(6) strong {
  display: block;
}

main:nth-of-type(2)>div:nth-of-type(7) {
  padding: 0;
  background: #f48fb1;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(7) a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
main:nth-of-type(2)>div:nth-of-type(7) img {
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  vertical-align: middle;
  animation: dice 3s infinite;
}
@keyframes dice {
  25% { transform: rotate(95deg) }
  50% { transform:rotate(180deg) }
  75% { transform:rotate(-95deg) }
}

main:nth-of-type(2)>div:nth-of-type(8) {
  border-top: 8px #24292e solid;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(8) h2 {
  display: block;
}
main:nth-of-type(2)>div:nth-of-type(8) p {
  margin: 0 0 15px;
}
main:nth-of-type(2)>div:nth-of-type(8)>a {
  display: inline-block;
  position: relative;
  max-width: 32%;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}
main:nth-of-type(2)>div:nth-of-type(8)>a>img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
}
main:nth-of-type(2)>div:nth-of-type(8)>a>div:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 .3em;
  background: #3d4752d9;
  color: #eef2f7;
  font-size: 14px;
  line-height: 2rem;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  
}
main:nth-of-type(2)>div:nth-of-type(8)>a>div:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  background: #f79122;
  color: #eef2f7;
  font-size: 1.2em;
  line-height: 2rem;
  font-weight: 700;
}
main:nth-of-type(2)>div:nth-of-type(8)>a>div:nth-of-type(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  color: #f79122;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid;
  border-top: 1rem solid;
  border-left: 1rem solid transparent
}
main:nth-of-type(2)>div:nth-of-type(8)>a>div:nth-of-type(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 .5em;
  background: #3d4752d9;
  color: #eef2f7;
  line-height: 2rem;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
}
main:nth-of-type(2)>div:nth-of-type(8)>a:hover>img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
main:nth-of-type(2)>div:nth-of-type(8)>a:hover>div:nth-of-type(3),
main:nth-of-type(2)>div:nth-of-type(8)>a:hover>div:first-of-type {
  opacity: 0;
}

main:nth-of-type(2)>div:nth-of-type(9) {
  background: url(../images/googol-bg.png) center/cover no-repeat;
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(9) img {
  display: block;
  width: 50%;
  margin: 5px auto;
  padding: 5px 10px;
  background: #fff;
  border-radius: 100vmax;
  transition: 1.8s transform;
  transition: 1.8s -webkit-transform;
  transition: 1.8s transform, 1.8s -webkit-transform;
  -webkit-transition: 1.8s -webkit-transform;
  -o-transition: 1.8s transform;
}
main:nth-of-type(2)>div:nth-of-type(9) img:hover {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
main:nth-of-type(2)>div:nth-of-type(9) p {
  display: inline-block;
  width: unset;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  border-radius: 100px;
  text-align: center;
}

main:nth-of-type(2)>div:nth-of-type(10) {
  text-align: center;
}
main:nth-of-type(2)>div:nth-of-type(10) a {
  display: inline-block;
  width: 40%;
  margin: 2%;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
  text-align: justify;
  cursor: pointer;
}
main:nth-of-type(2)>div:nth-of-type(10) a:hover {
  background: #f5f5f5;
}

main:nth-of-type(2)>div:nth-of-type(11) {
  font-size: 30px;
}

main:nth-of-type(2)>footer {
  position: relative;
  padding: 15px 0;
  background: #fff;
  color: #777;
  font-size: 18px;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  main:nth-of-type(2)>header {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 670px) {
  main:nth-of-type(2)>header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 567px) {
  main:nth-of-type(2)>div:nth-of-type(1)>p,
  main:nth-of-type(2)>div:nth-of-type(4) p{
    width: 100%;
  }
  
  main:nth-of-type(2)>div:nth-of-type(1)>h1 {
    font-size: 32px;
    line-height: 38px;
  }
  main:nth-of-type(2)>div:nth-of-type(1)>h2 {
    width: calc(100% - 45px);
    margin-right: 0;
    font-size: 18px;
  }
  main:nth-of-type(2)>div:nth-of-type(1)>img {
    position: absolute;
    top: 72px;
    right: 10px;
    width: 42px !important;
    margin: 0;
  }
  
  main:nth-of-type(2)>div:nth-of-type(2) {
    font-size: 30px;
  }
  
  main:nth-of-type(2)>div:nth-of-type(3) h1 {
    font-size: 26px;
  }
  main:nth-of-type(2)>div:nth-of-type(3) section {
    display: block;
  }
  main:nth-of-type(2)>div:nth-of-type(3) section strong,
  main:nth-of-type(2)>div:nth-of-type(3) section span {
    margin: 0 auto;
  }
  
  main:nth-of-type(2)>div:nth-of-type(4) h2,
  main:nth-of-type(2)>div:nth-of-type(4) p {
    margin: 5px 0;
  }
  main:nth-of-type(2)>div:nth-of-type(4) p {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  main:nth-of-type(2)>div:nth-of-type(4) img {
    display: none;
  }
  
  main:nth-of-type(2)>div:nth-of-type(5) {
    font-size: 20px;
  }
  
  main:nth-of-type(2)>div:nth-of-type(6)>h2 {
    font-size: 18px;
  }
  main:nth-of-type(2)>div:nth-of-type(6)>p {
    margin-bottom: 5px;
    font-weight: normal;
  }
  main:nth-of-type(2)>div:nth-of-type(6)>div>a {
    margin: 2px;
    zoom: .8;
  }
  
  main:nth-of-type(2)>div:nth-of-type(8)>a {
    width: 80%;
    max-width: 80%;
  }
  
  main:nth-of-type(2)>div:nth-of-type(10) h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  main:nth-of-type(2)>div:nth-of-type(10) a {
    width: 85%;
  }
  
  main:nth-of-type(2)>div:nth-of-type(11) {
    font-size: 25px;
  }
  main:nth-of-type(2)>div:nth-of-type(11) img {
    height: 30px !important;
  }
  
  main:nth-of-type(2)>footer {
    font-size: 15px;
  }
}
