html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  border-left: 12px #24292e solid;
  border-right: 12px #24292e solid;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  margin: 0;
  padding: 5rem 0;
  background: linear-gradient(10deg, #24292e, #444) #24292e;
  background: -webkit-linear-gradient(80deg, #24292e, #444) #24292e;
  background: -o-linear-gradient(80deg, #24292e, #444) #24292e;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body>div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 20px;
  background: #fff;
}
body>div h1,
body>div h2,
body>div h3 {
  display: inline-block;
  margin: 5px;
}
body>div p {
  display: inline-block;
  width: 70%;
  margin: 5px;
  text-align: justify;
  vertical-align: top;
}

body>div:nth-of-type(1)>img,
body>div:nth-of-type(5) img {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  margin: auto 0;
  max-width: calc(25% - 25px);
  max-height: 80%;
}

body>div:nth-of-type(1) a {
  font-weight: bold;
}
body>div:nth-of-type(1) a:nth-of-type(1) {
  color: #865;
}
body>div:nth-of-type(1) a:nth-of-type(1):hover {
  background: #765;
  color: #fff;
}
body>div:nth-of-type(1) a:nth-of-type(2) {
  color: #00df75;
}
body>div:nth-of-type(1) a:nth-of-type(2):hover {
  background: #00df75;
  color: #fff;
}
body>div:nth-of-type(1) a:nth-of-type(3) {
  color: #00aced;
}
body>div:nth-of-type(1) a:nth-of-type(3):hover {
  background: #00aced;
  color: #fff;
}

body>div:nth-of-type(2),
body>div:nth-of-type(13) {
  padding: 0;
  background: #24292e;
  color: #c8c9cb;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
body>div:nth-of-type(2) a,
body>div:nth-of-type(13) a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
body>div:nth-of-type(2) a img,
body>div:nth-of-type(13) a img {
  height: 38px;
  background: #c8c9cb;
  border: 2px #c8c9cb solid;
  border-radius: 38px;
  vertical-align: middle;
}
body>div:nth-of-type(2):hover,
body>div:nth-of-type(13):hover {
  color: #86898b;
}
body>div:nth-of-type(2):hover img,
body>div:nth-of-type(13):hover img {
  background: #86898b;
  border-color: #86898b;
}

body>div:nth-of-type(3) {
  border-bottom: 8px #24292e solid;
  text-align: center;
}
body>div:nth-of-type(3) h3 {
  margin-bottom: 12px;
}
body>div:nth-of-type(3) section {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}
body>div:nth-of-type(3) section strong {
  display: block;
  width: 150px;
  margin: 5px 0 0;
  padding: 5px 0;
  background: #444;
  color: #eee;
  border: 1.5px #444 solid;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body>div:nth-of-type(3) section span {
  display: block;
  width: 150px;
  padding: 5px 0;
  border: 1.5px #444 solid;
  border-top-width: 0;
}

body>div:nth-of-type(4) {
  padding: 0;
  background: #d12d2c;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
body>div:nth-of-type(4) a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 28px 0;
}
body>div:nth-of-type(4) img {
  height: 38px;
  margin: 0 5px;
  vertical-align: middle;
}

body>div:nth-of-type(5) {
  background: url(../images/fidget-bg.png);
  color: #f0f0f0;
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
  font-weight: bold;
  cursor: pointer;
}
body>div:nth-of-type(5) a {
  padding: 0 2px;
}
body>div:nth-of-type(5) h3 {
  padding: 8px;
  background: #987;
  border-radius: 50px;
}
body>div:nth-of-type(5) h3 a:hover {
  background: #f0f0f0;
  color: #987;
}
body>div:nth-of-type(5) p {
  padding: 6px;
  background: #987;
  border-radius: 10px;
}
body>div:nth-of-type(5) img {
  top: 20px;
  -webkit-touch-callout: none;
}
body>div:nth-of-type(5) img:hover {
  animation: spin 2s infinite;
  -webkit-animation: spin 2s infinite;
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

body>div:nth-of-type(6) {
  padding: 0;
  background: #2196F3;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
body>div:nth-of-type(6) a {
  display: block;
  width: 100%;
  padding: 28px 0;
}

body>div:nth-of-type(7) {
  background: url(../images/cube-bg.svg) center/110% no-repeat;
  color: #222;
  text-align: center;
  border-top: 8px #222 solid;
  border-bottom: 8px #222 solid;
}
body>div:nth-of-type(7)>h3 {
  padding: 8px;
  background: #222;
  color: #f0f0f0;
  border-radius: 50px;
}
body>div:nth-of-type(7)>p {
  margin: 0 0 20px;
  padding: 6px;
  background: #222;
  color: #f0f0f0;
  border-radius: 10px;
  font-weight: bold;
}
body>div:nth-of-type(7)>p a {
  padding: 2px 4px;
  border-radius: 12px;
}
body>div:nth-of-type(7) div {
  margin-bottom: 10px;
}
body>div:nth-of-type(7)>div a {
  display: inline-block;
  width: 120px;
  padding: 15px;
  background: #222;
  color: #f0f0f0;
  border-radius: 12px;
}
body>div:nth-of-type(7) a:hover {
  background: #333;
}
body>div:nth-of-type(7) div h4 {
  margin: 2px;
}
body>div:nth-of-type(7) div p {
  width: 100%;
  margin: 0;
  text-align: center;
}

body>div:nth-of-type(8) {
  padding: 0;
  background: #f48fb1;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
body>div:nth-of-type(8) a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
body>div:nth-of-type(8) img {
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  vertical-align: middle;
  animation: dice 3s infinite;
}
@keyframes dice {
  25% { transform: rotate(95deg) }
  50% { transform:rotate(180deg) }
  75% { transform:rotate(-95deg) }
}
body>div:nth-of-type(8) span {
  display: inline-block;
  color: #fff;
}

body>div:nth-of-type(9) {
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
  text-align: center;
}
body>div:nth-of-type(9)>h2>a {
  padding: 3px;
}
body>div:nth-of-type(9)>h2>a:hover {
  background: #f79122;
  color: #fff;
}
body>div:nth-of-type(9) h4 {
  margin: 0 0 15px;
}
body>div:nth-of-type(9)>div>a {
  display: inline-block;
  position: relative;
  max-width: 32%;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}
body>div:nth-of-type(9)>div>a>img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  transition: transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  -webkit-transition: -webkit-transform .2s ease-in;
  -moz-transition: -moz-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
}
body>div:nth-of-type(9)>div>a>div:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 .3em;
  background: #3d4752d9;
  color: #eef2f7;
  font-size: 14px;
  line-height: 2rem;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -moz-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  
}
body>div:nth-of-type(9)>div>a>div:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  background: #f79122;
  color: #eef2f7;
  font-size: 1.2em;
  line-height: 2rem;
  font-weight: 700;
}
body>div:nth-of-type(9)>div>a>div:nth-of-type(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  color: #f79122;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid;
  border-top: 1rem solid;
  border-left: 1rem solid transparent
}
body>div:nth-of-type(9)>div>a>div:nth-of-type(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 .5em;
  background: #3d4752d9;
  color: #eef2f7;
  line-height: 2rem;
  transition: opacity .4s ease-in;
  -webkit-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
}
body>div:nth-of-type(9)>div>a:hover>img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
body>div:nth-of-type(9)>div>a:hover>div:nth-of-type(3),
body>div:nth-of-type(9)>div>a:hover>div:first-of-type {
  opacity: 0;
}

body>div:nth-of-type(10) {
  padding: 0;
  background: url(../images/bocracy-bg.png) 50% 65%/cover no-repeat;
}
body>div:nth-of-type(10) a {
  display: block;
  width: 100%;
  height: 140px;
}

body>div:nth-of-type(11) {
  border-top: 8px #24292e solid;
  border-bottom: 8px #24292e solid;
}
body>div:nth-of-type(11) img {
  display: block;
  width: 50%;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 100vmax;
  transition: 1.8s transform;
  transition: 1.8s -webkit-transform;
  transition: 1.8s transform, 1.8s -webkit-transform;
  -webkit-transition: 1.8s -webkit-transform;
  -o-transition: 1.8s transform;
}
body>div:nth-of-type(11) img:hover {
  background: #eee;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
body>div:nth-of-type(11) p {
  display: block;
  width: 100%;
  margin: 0 0 15px;
  text-align: center;
}

body>div:nth-of-type(12) {
  text-align: center;
}
body>div:nth-of-type(12) div section {
  display: inline-block;
  width: 40%;
  margin: 2%;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.3);
  cursor: pointer;
}
body>div:nth-of-type(12) div section:hover {
  background: #f5f5f5;
}
body>div:nth-of-type(12) div section p {
  width: 100%;
  margin: 0;
  text-align: justify;
}

body>div:nth-of-type(13) {
  font-size: 30px;
}

body>div:nth-of-type(14) {
  text-align: center;
}
body>div:nth-of-type(14) p {
  width: 100%;
  text-align: center;
}
body>div:nth-of-type(14) strong:before {
  content: "biz at cameronsamuels.com";
}
body>div:nth-of-type(14) strong:after {
  content: "biz@cameronsamuels.com";
  display: none;
  padding: 0 3px;
}
body>div:nth-of-type(14) strong:hover:before {
  display: none;
}
body>div:nth-of-type(14) strong:hover:after {
  display: inline;
}

footer {
  position: relative;
  padding: 15px 0;
  background: #fff;
  color: #777;
  font-size: 18px;
  text-align: center;
  cursor: default;
  --yearOf: "The year of life";
}

@media screen and (min-width: 600px) {
  body>div:nth-of-type(4):hover:before,
  body>div:nth-of-type(4):hover:after {
    position: absolute;
    top: 28px;
  }
  body>div:nth-of-type(4):hover:before {
    content: "NOT";
    left: 30px;
  }
  body>div:nth-of-type(4):hover:after {
    content: "HATE";
    right: 30px;
  }
  
  footer:hover:before, footer:hover:after {
    position: absolute;
    top: 15px;
  }
  footer:hover:before {
    content: var(--yearOf) " -";
    left: 20px;
  }
  footer:hover:after {
    content: "- " var(--yearOf);
    right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 670px) {
  header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 567px) {
  body>div:nth-of-type(1)>p,
  body>div:nth-of-type(5)>p {
    width: 100%;
  }
  
  body>div:nth-of-type(1)>h1 {
    font-size: 32px;
    line-height: 38px;
  }
  body>div:nth-of-type(1)>h3 {
    width: calc(100% - 45px);
    margin-right: 0;
    font-size: 18px;
  }
  body>div:nth-of-type(1)>img {
    position: absolute;
    top: 72px;
    right: 10px;
    width: 42px !important;
    margin: 0;
  }
  
  body>div:nth-of-type(2),
  body>div:nth-of-type(4) {
    font-size: 30px;
  }
  
  body>div:nth-of-type(3) h1 {
    font-size: 26px;
  }
  body>div:nth-of-type(3) section {
    display: block;
  }
  body>div:nth-of-type(3) section strong,
  body>div:nth-of-type(3) section span {
    margin: 0 auto;
  }
  
  body>div:nth-of-type(5) h3 {
    text-align: center;
  }
  body>div:nth-of-type(5)>h3,
  body>div:nth-of-type(5)>p {
    margin: 5px 0;
  }
  body>div:nth-of-type(5)>p {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  body>div:nth-of-type(5)>a>img {
    display: none;
  }
  
  body>div:nth-of-type(6) {
    font-size: 20px;
  }
  
  body>div:nth-of-type(7)>h3 {
    font-size: 18px;
  }
  body>div:nth-of-type(7)>p {
    margin-bottom: 5px;
    font-weight: normal;
  }
  body>div:nth-of-type(7)>div>a {
    margin: 2px;
    zoom: .8;
  }
  
  body>div:nth-of-type(9)>div>a {
    width: 80%;
    max-width: 80%;
  }
  
  body>div:nth-of-type(10) a {
    height: 80px;
  }
  
  body>div:nth-of-type(12) h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  body>div:nth-of-type(12) div section {
    width: 85%;
  }
  
  body>div:nth-of-type(13) {
    font-size: 25px;
  }
  body>div:nth-of-type(13) img {
    height: 30px !important;
  }
  
  footer {
    font-size: 15px;
  }
}
