html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background: #eee;
  color: #24292e;
  font-family: helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main:first-of-type {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 38vmin;
  width: 85vmin;
  margin: auto;
  background: #eee;
  border: 2vmin #24292e solid;
  border-radius: 6px;
  z-index: 1;
}

/* Content */
main:first-of-type>div a {
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 11vmin;
  color: #fff;
  border-bottom: 1.5vmin #24292e solid;
  font-size: 4vmin;
  font-weight: bold;
  line-height: 9.5vmin;
  text-align: center;
}

/* Content item-specific styles */
main:first-of-type>div>a:nth-of-type(1) {
  background: #08a0e9;
}
main:first-of-type>div>a:nth-of-type(2) {
  background: #0557ab;
}
main:first-of-type>div>a:nth-of-type(3) {
  background: #010101;
}

/* Picture */
main:first-of-type>img {
  position: absolute;
  bottom: -10vmin;
  left: -10vmin;
  width: 30vmin;
  height: 30vmin;
  border: 1.5vmin #24292e solid;
  border-radius: 17.5vmin;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Heading */
main:first-of-type>h1 {
  position: absolute;
  bottom: 8vmin;
  left: 25vmin;
  margin: 0;
  font-size: 6.5vmin;
}

/* Subheading */
main:first-of-type>h2 {
  position: absolute;
  bottom: 5.4vmin;
  left: 26vmin;
  margin: 0;
  font-size: 2.25vmin;
  white-space: nowrap;
}

/* Text */
main:first-of-type>p {
  position: absolute;
  left: 26vmin;
  bottom: 2.2vmin;
  margin: 0;
  font-size: 2vmin;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
}

/* Social icons */
main:first-of-type a>img {
  height: 2vmin;
  vertical-align: middle;
}
main:first-of-type>p>a:first-of-type {
  margin-left: 2vmin;
}

/* Portrait mode */
@media all and (orientation: portrait) {
  main:first-of-type {
    zoom: 85%;
    height: calc(17vmin + 13vmin * 2);
  }
  main:first-of-type>div>a {
    width: 100%;
    height: 13vmin;
    padding: 1vmin 0;
    border-right: 0;
    font-size: 5vmin;
  }
}

/* Miscellaneous */
beto {
  zoom: 0.9;
}
